* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
  display: flex;
}

.page {
  display: flex;
  width: 1920px;
  height: 1080px;
}

header {
  display: flex;
  background-color: #7025fb;
  height: 60px;
  align-items: center;
  padding: 20px;
}

.header-img {
  height: 20px;
}

h1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: 800;
  font-style: normal;
}

.open-msg {
  margin-top: 265px;
}

.content {
  width: 997px;
}
.page-input {
  background-color: #fd5334;
  padding-left: 85px;
}
.page-photo {
  height: 1020px;
  width: 923px;
}

.button {
  width: 191px;
  height: 53px;
  font-family: "Open Sans";
  font-size: 20px;
  color: #ffffff;
  background-color: #212529;
  border: none;
  line-height: 27px;
  border-radius: 8px;
  position: absolute;
  cursor: pointer;
}

#start-btn {
  margin-top: 102px;
}

.page-1 {
  opacity: 100;
}

.page-2 {
  color: black;
  font-size: 50px;
  margin-left: -1920px;
}

.hidden {
  display: none;
}

h2 {
  font-style: italic;
  font-size: 26px;
  font-weight: 800;
  line-height: 35px;
  color: #212529;
}
.img-box {
  width: 923px;
  height: 1080px;
  background-image: url(../Photos/second-page.png);
}

.description {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #e5e6e8;
  margin-top: 20px;
}

.quotation {
  margin-top: 250px;
  margin-left: 130px;
}

.page-name {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  display: block;
  box-shadow: 0 1.5px 2px -2px gray;
  height: 60px;
  padding-left: 50px;
  padding-top: 20px;
  font-weight: 600;
}

form {
  z-index: 1000;
}
