* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
  display: flex;
}

.page {
  display: flex;
  width: 1920px;
  height: 1080px;
}

header {
  display: flex;
  background-color: #7025fb;
  height: 60px;
  align-items: center;
  padding: 20px;
}

.header-img {
  height: 20px;
}

h1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: 800;
  font-style: normal;
}

.open-msg {
  margin-top: 265px;
}

.content {
  width: 997px;
}
.page-input {
  background-color: #fd5334;
  padding-left: 85px;
}
.page-photo {
  height: 1020px;
  width: 923px;
}

a {
  display: block;
  width: 190px;
  height: 50px;
  font-family: "Open Sans";
  font-size: 20px;
  color: #ffffff;
  background-color: #212529;
  border: none;
  line-height: 27px;
  border-radius: 8px;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

.page-1 {
  opacity: 100;
}

.page-2 {
  color: black;
  font-size: 50px;
}

h2 {
  font-style: italic;
  font-size: 26px;
  font-weight: 800;
  line-height: 35px;
  color: #212529;
}
.img-box {
  width: 923px;
  height: 1080px;
  background-image: url(../Photos/second-page.png);
}

.description {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #e5e6e8;
  margin-top: 20px;
}

.quotation {
  margin-top: 250px;
  margin-left: 130px;
}

.page-name {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  display: block;
  box-shadow: 0 1.5px 2px -2px gray;
  height: 60px;
  padding-left: 50px;
  padding-top: 20px;
  font-weight: 600;
}

.content-container {
  margin: 60px;
  font-size: 15px;
  line-height: 25px;
  color: #95939a;
}

h3 {
  font-size: 22px;
  font-family: "Open Sans" sans-serif;
  margin-top: 70px;
  color: black;
}

.experience {
  display: flex;
  font-size: 12px;
}

.experience-box {
  margin-right: 50px;
  margin-bottom: 60px;
  text-align: center;
  color: black;
}

.num {
  border: solid 0.5px #e8e8e8;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.back {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 90px;
  height: 45px;
  font-size: 15px;
}

.input-group {
  margin-bottom: 25px;
  position: relative;
}

.input-group input {
  display: block;
  width: 600px;
  border: none;
  height: 40px;
}

.input-group i {
  position: absolute;
  right: 300px;
  top: 12px;
  visibility: hidden;
}
.form {
  margin-top: 60px;
}

.error input {
  background-color: #f9dede;
}

.success input {
  background-color: #e5e6e8;
}
.success i.fa-circle-check {
  visibility: visible;
  color: green;
}

.buttons {
  display: flex;
  position: relative;
}

.btn {
  position: absolute;
  top: 775px;
  right: -70px;
  width: 100px;
  height: 45px;
  background-color: #212529;
  color: #fbebeb;
  border-radius: 8px;
  cursor: pointer;
}
